@import "tailwindcss";

@theme {
  --color-primary: #111216;
  --color-secondary: #14161d;
  --color-accent: #535353;

}

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  html,
  body {
    min-height: 100%;
  }

  body {
    @apply bg-primary text-slate-100;
  }

  
}
